<% include ../common/index-top.ejs %>
  <section>
    <div class="filter"><span id="recent" class="selected-filter">recent</span>&nbsp&nbsp&nbsp&nbsp<span id="popular">popular</span></div>
  <% for (var i=0; i<(images.length>8? 8: images.length); i++){ %>
      <a href="/detail?no=<%= images[i].no %>">
        <div class="item-container">
          <img src="images/frame<%= images[i].frame_num %>.png" alt="frame" class="item-frame"/>
          <img src="uploads/small/<%= images[i].file_name %>" alt="pic" class="item-img item-img<%= images[i].frame_num %>"/>
          <div class="item-title"><%= images[i].title%>
            <% if (images[i].comment_num != 0 ) { %>
              <span>(<%= images[i].comment_num %>)</span>
            <% } %>
          </div>
          <div class="item-author">-<%= images[i].author %></div>
        </div>
      </a>
  <% } %>
  <script>
    var images = <%- JSON.stringify(images) %>;
    var last = 8;
    // 조회순 비교 함수
    function compare(a,b) {
      if (a.views > b.views)
        return -1;
      if (a.views < b.views)
        return 1;
      return 0;
    }
    var images_r = images.slice();
    var images_p = images.slice().sort(compare);

    $(document).ready(function() {
        $('#more').click(function(){
          // call more imgs
          if(last<images.length){
            let how = images.length-last>8 ? 8 : images.length-last;
            let i = last;
            for(; i<last + how; i++){
              let cmt_str = ` <span>(${images[i].comment_num})</span>`;
              if( images[i].comment_num == 0 ) cmt_str = '';
              $('#more').before('<a href="/detail?no=' + images[i].no 
                + '"><div class="item-container"><img src="images/frame' 
                + images[i].frame_num + '.png" alt="frame" class="item-frame"/><img src="uploads/small/'
                + images[i].file_name + '" alt="pic" class="item-img item-img' 
                + images[i].frame_num + '"/><div class="item-title">' 
                + images[i].title + cmt_str + '</div><div class="item-author">-' 
                + images[i].author + '</div></div></a>');
            }
            last = i;
            
            // no more img
            if(how!=8 || last==images.length){
              $('#more').css('visibility', 'hidden');
            }else{
              $('#more').css('visibility', 'visible');
            }
          }
        });

        // filter
        $('#recent').click(function(e){
          if(!$('#recent').hasClass('selected-filter')){
            //  기존 사진 제거
            $('section a').remove();
            // 새로운 8개 사진 대입
            images = images_r.slice();
            last = 0;
            $('#more').click();
            // selected class 변경
            $('#recent').toggleClass('selected-filter');
            $('#popular').toggleClass('selected-filter');
          }
        });
        $('#popular').click(function(){
          if(!$('#popular').hasClass('selected-filter')){
            //  기존 사진 제거
            $('section a').remove();
            // 새로운 8개 사진 대입
            images = images_p.slice();
            last = 0;
            $('#more').click();
            // selected class 변경
            $('#recent').toggleClass('selected-filter');
            $('#popular').toggleClass('selected-filter');
          }
        });
    });
  </script>
    <div id="more"> MORE... </div>
  </section>
<% include ../common/index-bottom.ejs %>