<% include ../common/index-top.ejs %>
  <section>
<% for (var i in images){ %>
    <a href="/detail?no=<%= images[i].no %>">
      <div class="item-container">
        <img src="images/frame<%= images[i].frame_num %>.png" alt="frame" class="item-frame"/>
        <img src="uploads/small/<%= images[i].file_name %>" alt="pic" class="item-img item-img<%= images[i].frame_num %>"/>
        <div class="item-title"><%= images[i].title %></div>
        <div class="item-author">-<%= images[i].author %></div>
      </div>
    </a>
<% } %>
    <a href="/">
      <div id="more"> MORE... </div>
    </a>
  </section>
<% include ../common/index-bottom.ejs %>