<% include ../common/index-top.ejs %>
<section>
    <img src="uploads/<%= img %>" alt="mypage" class="detail-img"/>
    <div class="detail-title"><%= title %></div>
    <span class="detail-author">-<%= author %></span>
    <span class="detail-views"><%= views %> views</span>
    <br/><br/>
    <div class="detail-date"><%= date %></div>
</section>
<% include ../common/index-bottom.ejs %>