<% include ../common/index-top.ejs %>
<section>
    <img src="uploads/<%= img %>" alt="mypage" class="detail-img"/>
    <div class="detail-title"><%= title %></div>
    <span class="detail-author">-<%= author %></span>
    <span class="detail-views"><%= views %> views</span>
    <br/><br/>
    <div class="detail-date"><%= date %></div>
    <div id="comment-container">
        <div id="comment-add">
            <form action="/comment" method="POST">
                <input type="text" name="content" required />
                <input type="hidden" value="<%= no %>" />
                <input type="submit" value="OK" />
            </form>
        </div>
        <div id="comments">
            <table>
                <tr><td class="comment-content">ㅋㅋㅋㅋㅋㅋ</td></tr>
                <tr><td class="comment-info">- ㅇㅇ <span>(2019-02-19 02:19:32)</span></td></tr>
                <tr><td class="comment-content">ㅋㅋㅋㅋㅋㅋ</td></tr>
                <tr><td class="comment-info">- ㅇㅇ <span>(2019-02-19 02:19:32)</span></td></tr>
                <tr><td class="comment-content">ㅋㅋㅋㅋㅋㅋ</td></tr>
                <tr><td class="comment-info">- ㅇㅇ <span>(2019-02-19 02:19:32)</span></td></tr>
            </table>
        </div>
    </div>
    <div class="detail-kakao"></div>
</section>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
    $(document).ready(function(){
        Kakao.init('80ea35a972df953e1b7aa1449f4abce6');
        Kakao.Link.createDefaultButton({
            container: '.detail-kakao',
            objectType: 'feed',
            content: {
                title: '<%= title %>',
                description: '-<%= author %>',
                imageUrl: 'http://' + location.href.split('/')[2] + '/uploads/<%= img %>',
                link: {
                    mobileWebUrl: location.href,
                    webUrl: location.href
                }
            },
            success : function(messageObj){ $.post( "/share", { title: '<%= title %>' } );}
        });
    });
</script>
<% include ../common/index-bottom.ejs %>